.Cinema {
    margin-bottom: 18px;
    perspective: 400px;
  
    display: grid;
    place-items: center;
    grid-gap: 24px;
  }
  
  .Cinema .screen {
    height: 70px;
    background: white;
    width: 50%;
    transform: rotateX(-30deg) scale(1.1);
    box-shadow: 0 3px 10px 2px;
  }
  
  .Cinema .seats {
    display: grid;
    grid-gap: 6px;
    grid-template-columns: repeat(8, min-content);
    align-items: center;
  }
  
  .Cinema .seats .seat:nth-of-type(8n + 2) {
    margin-right: 20px;
  }
  
  .Cinema .seats .seat:nth-of-type(8n + 6) {
    margin-right: 20px;
  }
  
  .Cinema .seats .seat:not(.occupied):hover,
  .Cinema .seats .seat:not(.occupied):focus {
    cursor: pointer;
    background: #c1eac5;
    transform: scale(1.2);
  }
  
  .Cinema .seats .seat.selected::after {
    content: '';
    position: absolute;
    top: 0;
    left: 2px;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: transparent;
    border: 1px solid #7bc47f;
    animation: show-off 0.8s;
    visibility: hidden;
  }
  
  @keyframes show-off {
    0% {
      transform: scale(1);
      opacity: 1;
      visibility: visible;
    }
  
    100% {
      transform: scale(3);
      opacity: 0;
    }
  }
  
  .seat {
    display: inline-block;
    background: #626262;
    width: 25px;
    height: 18px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: transform 0.3s ease-in-out;
  
    position: relative;
    top: 1px;
  }
  
  .seat.selected {
    background: #7bc47f !important;
  }
  
  .seat.occupied {
    background: #cfcfcf;
  }
  